@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color: rgba(255, 255, 255, 0.87);
  background-color: #020617;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth !important;

  overflow-wrap: break-word;
  word-wrap: break-word;
}

body {
  max-width: 1600px !important;
}

#logo {
  background-color: #70dbb8;
  background-image: linear-gradient(45deg, #70dbb8, #a1d06d, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/*Stop the body from scrolling when the menu is open, on smaller screens*/
body.menuOpen {
  overflow: hidden;
}


/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type=search] {
  outline: 0;
  padding: 7px;
}

/*Clears the arrow from a 'number' input type*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}


/* This ensures that the text is a maximum of two lines and then three dots is added at the end of the line if it exceeds two lines*/
#two-line-ellipsis {
  display: -webkit-box;

  /* Limit the text to 2 lines */
  -webkit-line-clamp: 2;

  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#one-line-ellipsis {
  display: -webkit-box;

  /* Limit the text to 1 lines */
  -webkit-line-clamp: 1;

  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


footer#pageFooter {
  background: url(/wave3.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media (prefers-color-scheme: dark) {
  footer#pageFooter {
    background-image: url(/wave1.svg);
  }
}

/* Style each paragraph block of EditorJS*/
.cdx-block {
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); */
  margin: 10px 0;
  padding: 10px;
}

/* Style the input field that appears when a user wants to add Link */
.ce-inline-toolbar__actions {
  color: white !important;
}

/*Make the error message that appears when you have not set up the backend for uploading images black, even in dark mode*/
.cdx-notifies {
  color: #020617 !important;
}

@media (prefers-color-scheme: light) {
  .ce-inline-toolbar__actions {
    color: black !important;
  }
}


/* Turn off the stretched, Add-border, and Add-background buttons that appears when you add an image */
.ce-popover-item[data-item-name="stretched"],
.ce-popover-item[data-item-name="withBorder"],
.ce-popover-item[data-item-name="withBackground"] {
  display: none !important;
}

/*Turn off captions that appears when a user uploads an image in EditorJS*/
/* [data-placeholder="Caption"] {
  display: none !important;
} */


/*Style the header for contents to be bold*/
.ce-header {
  font-weight: bold;
}

/*Hide the 'Title' part of 'Warning' Tool in EditorJS*/
.cdx-input.cdx-warning__title {
  display: none !important;
}

/* Change the background and text color of <code> inline-tool from red (in EditorJS field) */
code.inline-code {
  background-color: rgb(128, 128, 128, .5);
  color: black;
}


/*When the code field is on the the page (NOT on the EditorJS field), and the user is on dark mode, we want to change the color to white*/
@media (prefers-color-scheme: dark) {
  code.inline-code.on-page {
    color: white;
  }
}


/*Hide the dropdown that says 'convert to' in EditorJS inline tools, when something is selected*/
.ce-inline-toolbar__dropdown {
  display: none;
}

/* Style the links that were added by the user from EditorJS */
.user-link {
  color: rgb(84, 84, 251);
  text-decoration: underline;
}